@page
@model AddModel
@{
    ViewData["Title"] = "Dodaj składnik";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <form class="form-horizontal" method="post">
        @Html.Hidden("returnUrl", Model.returnUrl)
        <div class="form-group">
            <select asp-for="dishIngredient.ingredientId">
                <option selected value="0">Wybierz składnik</option> @* domyślna opcja *@
                @foreach (var i in Model.ingredients)
                {
                    if(i.id == Model.ingredientId)
                    {
                        <option selected value="@i.id">@i.id | @i.name</option>
                    }
                    else
                    {
                        <option value="@i.id">@i.id | @i.name</option>
                    }
                }
            </select>
            <span asp-validation-for="dishIngredient.ingredientId" class="text-red"></span>
            <div class="col-sm-6">
                <label asp-for="dishIngredient.ingredientAmount"></label>
                <input asp-for="dishIngredient.ingredientAmount" class="form-control">
                <span asp-validation-for="dishIngredient.ingredientAmount" class="text-red"></span>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn btn-primary" name="button" value="0">Anuluj</button>
            <button class="btn btn btn-primary" name="button" value="1">Zatwierdź</button>
        </div>
    </form>
</div>